// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#background {
    min-height: 1000px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

#panel {
    margin-top: 20px;
}